html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}
legend{color:#000}
#yui3-css-stamp.cssreset{display:none}
.dlglogin{
    height: 270px;
    letter-spacing: -4px;
    width: 555px;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -272px;
    margin-top: -170px;
    z-index: 99;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.dlglogin-close:hover {
    color: red;
    font-size: 9px;
}
.dlglogin-close{
    position: absolute;
    top: 10px;
    right: 12px;
    padding: 0 3px;
    z-index: 1;
    color: white;
    font: 11px/1.2 "Comic Sans MS",sans-serif;
    text-decoration: none;
}
.dlglogin-form{
    width: 285px;
    height: 230px;
    padding: 40px 37px 0 40px;
    letter-spacing: 0;
    float: left;
}
.dlglogin-aside{
    height: 270px;
    vertical-align: top;
    background-color: rgb(90, 90, 90);
    letter-spacing: 0;
    position: relative;
    color: rgb(170, 170, 170);
    overflow: hidden;
    _zoom: 1;
}
#legend{
    font-size: 18px;
    color: rgb(51, 51, 51);
    padding: 0;
}
.dlglogin-form .item{
    color: rgb(51, 51, 51);
    position: relative;
    background-color: rgb(238, 241, 240);
    margin-top: 12px;
    padding: 8px 10px;
    margin-bottom: .5ex;
}
.item{
    overflow: hidden;
}
#alias label {
    margin-right: 0px;
}
.dlglogin-form .item label {
    float: none;
}
.dlglogin-form .spec label {
    margin-right: 25px;
}
.dlglogin-form label {
    float: left;
    width: 4em;
}
#alias .text {
    width: 183px;
}
.dlglogin-form .item .text {
    border: 0 none;
    color: rgb(51, 51, 51);
    background-color: rgb(238, 241, 240);
    width: 180px;
    position: absolute;
    left: 90px;
    top: 10px;
}
.dlglogin-form .item input {
    margin: 0;
    outline: none;
}
.dlglogin-form .recsubmit {
    padding-top: 30px;
    position: relative;
    background: white;
}
.dlglogin-form .recsubmit #btn-submit {
    display: block;
    background-color: rgb(157, 214, 197);
    width: 110px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 0 none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    float: right;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}
.dlg-notify{
    position: absolute;
    top: 20px;
    left: 17px;
    width: 170px;
    font-weight: bold;
}
.dlg-notify ul{
    margin-top: 10px;
}
.dlg-notify ul li{
    margin-bottom: 10px;
    font-size: 13px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}


body{
    background: white;
}
.site-nav {
    height: 29px;
    width: 1600px;
    margin: 0 auto;
    min-width: 1000px;
    background: rgb(43,38,38);
}
.no-users{
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}
.site-nav__body {
    width:980px;
    margin:0 auto;
}
.nav-logo {
    padding:6px;
    padding-bottom:5px;
    float:left;
}
.nav-title {
    font-size:12px;
    float:left;
    color:white;
    line-height:29px;
}
.site-nav__body a {
    text-decoration:none;
    color:white;
}
.user-info {
    float:right;
    line-height:29px;
    font-size:12px;
}
.user-info a {
    margin-left:10px;
}
.line {
    border-left:1px solid white;
    padding-left:12px;
}
.top-header {
    background: url(http://sources.corp.qunar.com/QNR-play/resources/mainbghead.png) no-repeat;
    height: 105px;
    width: 1600px;
    margin: 0 auto;
    position: relative;
}
.hsearch {
    width:586px;
    height:30px;
    margin:0 auto;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-288px;
    margin-top:-10px;
}
.tsearch-fields {
    width:497px;
    height:28px;
    margin-right: 10px;
    float:left;
    position:relative;
    vertical-align:middle;
}
.tsearch-fields input {
    font-size:14px;
    font-family:verdana,tahoma,sans-serif;
    width:494px;
    height:20px;
    line-height:18px;
    padding:5px;
    border:0 none;
    background-color:#fff;
    vertical-align:middle;
    position:absolute;
    left:3px;
    top:2px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.tsearch-submit {
    position:relative;
    top: 2px;
    width:78px;
    height:30px;
    line-height: 30px;
    font-size:18px;
    background-color:rgb(235,97,77);
    color:#fff;
    border:0 none #D25102;
    float:left;
    cursor:pointer;
    -moz-border-radius:0 3px 3px 0;
    -webkit-border-radius:0 3px 3px 0;
    -khtml-border-radius:0 3px 3px 0;
    border-radius:0 3px 3px 0;
}
.site-bar{
    height: 5px;
    background: rgb(238,238,238);
    width: 1600px;
    margin: 0 auto;
}
.bd{
    overflow:hidden;
    _overflow:visible;
    zoom:1;
}
.hidden{
    display: none;
}
.display{
    display: block;
}
.site-content{
    width: 980px;
    padding: 0 12px;
    margin: 0 auto;
    background: white;
    margin-bottom: 61px;
}
.site-main{
    width: 650px;
    color: rgb(153,153,153);
}

.site-aside{
    float:right;
    width:285px;
    margin-left:20px;
    _margin-left:20px;
}
.footer{
    width: 1000px;
    border-top: 1px solid rgb(221,221,221);
    height: 96px;
    margin: 0 auto;
}
.footer__des{
    font-size: 12px;
    color: rgb(136,136,136);
    text-align: center;
    margin-top: 20px;
}
.site-wrap{
    width: 1600px;
    margin: 0 auto;
    background: rgb(249,249,249);
}
.clearfix{
    overflow: hidden;
    zoom:1;
}
.page-list {
    text-align:center;
    float:right;
}
.page-list ul {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin:0;
    padding:0;
    list-style:none;
}
.page-list li {
    display:inline;
    float:left;
    margin:0 3px;
    padding:8px 2px;
    border:1px solid rgb(221,221,221);
    background-color:#fff;
}
.page-list li a {
    color:#333;
    padding:10px 15px;
    text-decoration:none;
}
.page-list .page-on {
    padding: 8px 16px;
    background: #F5F4F0;
    color: #000;
}
.page-list .dot {
    border:0px;
    padding:4px 2px;
}
.page-list .dot:hover {
    border:0px;
    padding:4px 2px;
    background: transparent;
}
.page-list li:hover {
    background: #F5F4F0;
}
@media screen and (max-width:1380px) {
  .site-nav,.site-bar {
    width:100%;
  }
  .site-wrap{
    width: 100%;
    background: rgb(249,249,249);
  }
  .top-header{
    width: 100%;
  }
  .hsearch{
    left: 58%;
  }
}
.clear{
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
}
.overlay{
      filter:alpha(Opacity=50);
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
      -moz-opacity:0.5;
      -khtml-opacity:0.5;
      height:140%;
      width:100%;
      _width:100%;
      _height:140%;
      position:absolute;
      left:0;
      top:0;
      right:0;
      bottom:0;
      background:rgb(238, 241, 240);
      opacity:0.618;
      display:none;
      z-index: 99;
}


.join-logo {
    background:url(http://sources.corp.qunar.com/QNR-play/resources/buttonbg.png);
    height:312px;
    width:286px;
    margin-top:5px;
    position:relative;
}
.btn-big-action {
    height:46px;
    width:220px;
    background:rgb(255,130,0);
    line-height:46px;
    position:absolute;
    bottom:0;
    margin-bottom:15px;
    margin-left:31px;
}
.fa-plus {
    margin-left:21px;
    color:white;
}
.btn-text {
    margin-left:10px;
    color:white;
    font-size:20px;
    position:relative;
    top:1.3px;
    _top:12px;
    text-decoration:none;
}
.btn-big-action a:hover {
    cursor:pointer;
}
.user-list {
    margin-top:35px;
}
.user-list__title {
    height:30px;
    line-height:30px;
    border-bottom:1px dashed rgb(221,221,221);
}
.user-title {
    float:left;
    font-weight:bold;
    font-size:16px;
}
.user-many {
    float:right;
    text-decoration:none;
    font-size:11px;
    color:rgb(102,102,102);
}
.rankuser-name a{
    text-decoration: none;
    color: black;
    font-size: 100%;
    line-height: 1.5;
}
.rankuser-name a:hover{
    color: white;
    background-color: #37a;
}
.user-img {
    width:63px;
    height:63px;
    float:left;
    margin-right:14px;
    border:1px solid rgb(221,221,221);
}
.user-img img {
    display:block;
    width: 62px;
    height: 62px;
}
.single-info {
    
}
.users-info li {
    padding:15px 5px;
}
/*.qnc_calendar*/
.qunar-dp{position:relative;top:12px;left:110px;z-index:1;border:1px solid #bababa;width:180px;height:23px;font:normal 12px/1.5 tahoma,Geneva,sans-serif;background-color:#fff;color:#555;}
/*.qnc_calendar .c_input*/
.qunar-dp .textbox{padding:3px 0 4px;border:0;width:100%;height:14px;font-family:tahoma;font-size:14px;background-color:#fff;z-index:2}
/*.qnc_calendar .c_icon b  && URL */
.qunar-dp .dp-info b{float:right;display:inline;margin-left:5px;width:16px;height:18px;background:url(http://qunarzz.com/js/qdatepicker/build/images/qnc_calendar.gif) 0 3px no-repeat;}
/*.qnc_calendar .c_ext*/
.qunar-dp .dp-info{position:absolute;width:50%;top:2px;right:5px;z-index:1;padding:0 0 0 8px;height:19px;font-size:14px;line-height:19px;background-color:#fff;cursor:pointer;}
.qunar-dp .dp-text{float:right;}
.qunar-dp .q-datepicker{position:absolute;top:22px;left:-1px;border:1px solid #ddd;background-color:#fff;}
/*.qnc_calendar .c_pop*/
.qunar-dp .q-datepicker .g{position:absolute;top:1px;left:-1px;z-index:2;border:1px solid #bababa;width:348px;background-color:#fff;overflow:hidden;}
.qunar-dp .q-datepicker .g:after{clear:both;display:block;height:0;visibility:hidden;content:"\20";}
/*.qnc_calendar .c_dpart*/
.qunar-dp .q-datepicker .c{position:relative;z-index:1;float:left;display:inline;margin-left:-1px;border-left:1px solid #ccc;width:50%;height:158px}
/*.qnc_calendar .c_dpart h5 */
.qunar-dp .q-datepicker .h{padding:3px 0;height:18px;text-align:center;background-color:#b1e9ff;}
/*.qnc_calendar .c_prev */
.qunar-dp .q-datepicker .p{position:absolute;top:5px;left:5px;width:16px;height:16px;background:url(http://qunarzz.com/js/qdatepicker/build/images/qnc_calendar.gif)  3px -75px no-repeat;cursor:pointer;}
/*.qnc_calendar .c_next */
.qunar-dp .q-datepicker .n{position:absolute;top:5px;right:5px;width:16px;height:16px;background:url(http://qunarzz.com/js/qdatepicker/build/images/qnc_calendar.gif) 3px -100px no-repeat;cursor:pointer;}
/*.qnc_calendar .c_dpart table*/
.qunar-dp .q-datepicker table{border:1px solid #fff;border-collapse:collapse;width:100%;}
/*.qnc_calendar .c_dpart th*/
.qunar-dp .q-datepicker th{border-bottom:1px solid #ccc;width:14.286%;height:22px;text-align:center;}
/*.qnc_calendar .c_dpart td*/
.qunar-dp .q-datepicker td{height:18px;text-align:center;cursor:pointer;}
/*.qnc_calendar .c_cr for w0 and w6*/ 
.qunar-dp .q-datepicker .w0{color:#c60b02;}
.qunar-dp .q-datepicker .w6{color:#c60b02;}
.qunar-dp .q-datepicker .st-t{color:#00F;}
.qunar-dp .q-datepicker .st-a{background-color:#fdab00;color:#fff;}
.qunar-dp .q-datepicker .st-s{background-color:transparent;cursor:default;}
.qunar-dp .q-datepicker .st-s:hover,.qunar-dp .q-datepicker .st-s-hover{background-color:#fff;cursor:default;}
.qunar-dp .q-datepicker .st-h{background-color:#fdab00;color:#fff;}
.qunar-dp .q-datepicker .st-d{color:#999;cursor:not-allowed;}
/*add*/
.qunar-dp .q-datepicker .st-d:hover,.qunar-dp .q-datepicker .st-d-hover{background-color:transparent;color:#999;cursor:not-allowed;}
/*add back day*/
.qunar-dp .q-datepicker .st-a-r{background-color:#6899ff;color:#fff;}
.qunar-dp .q-datepicker .holi{color:#c60b02;}
.qunar-dp .qunar-dp-toD td:hover,.qunar-dp .qunar-dp-toD td-hover{background-color:#6899ff;color:#fff;cursor:pointer;}
.qunar-dp .qunar-dp-toD td.st-a-r{background-color:#6899ff;color:#fff;}
.qunar-dp .errtext{color:red;}



.type-nav {
    border-bottom:1px dashed #e6e6e6;
    margin-top:27px;
}
.type-nav__item {
    margin-bottom:8px;
    padding-top:3px;
}
.type-nav__title {
    float:left;
    font-size:11px;
    padding:5px 4px 5px 10px;
}
.type-nav__item ul {
    margin-left:50px;
}
.type-nav__subsec{
    background: #f5f5f5;
    padding: 10px;
    margin-left:43px;
}
.type-nav__item li {
    float:left;
    padding:3px 2px;
}
.type-nav__item li a {
    padding:5px 9px 5px 10px;
    margin-right:10px;
    color:rgb(102,102,102);
    text-decoration:none;
    font-size:11px;
}
.type-nav__item .on a {
    background-color:rgb(255,131,45);
    cursor:pointer;
    color:white;
}
.type-nav__item li a:hover {
    background-color:rgb(255,131,45);
    cursor:pointer;
    color:white;
}
.action-title a {
    font-size:14px;
    color:rgb(153,153,153);
    text-decoration:none;
}
.action-list {
    margin-top:20px;
}
.action-list ul li {
    margin-bottom:20px;
}
.action-img {
    height:195px;
    width:144px;
    float:left;
    background:rgb(250,250,250);
    margin-right:14px;
}
.action-info {
    
}
.action-name {
    margin-bottom:10px;
    margin-top:8px;
}
.action-name a {
    text-decoration:none;
    font-size:16px;
    color:black;
    font-weight:bold;
}
.action-img img {
    width:123px;
    height:173px;
    margin:12px;
    border:1px solid rgb(221,221,221);
}

.action-list p {
    font-size:12px;
    margin-bottom:10px;
    color:rgb(153,153,153);
    line-height:1.4em;
}
.action-list p span {
    color:rgb(102,102,102);
}
.action-list address {
    font-size:12px;
    margin-bottom:10px;
    color:rgb(153,153,153);
    line-height:1.4em;
}
.action-list address span {
    color:rgb(102,102,102);
}
.pl {
    float:left;
    margin-right:8px;
    font-size:14px;
}

.action-people {
    display:inline;
}
.action-author a {
    text-decoration:none;
    color:rgb(1,87,163);
}
.action-author a:hover {
    background-color:#37a;
    color:white;
}
.action-desc {
    display:block;
    /* Fallback for non-webkit */
  display:-webkit-box;
    height:47px;
    /* Fallback for non-webkit */
  margin:0 auto;
    font-size:12px;
    line-height:1.2;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
    overflow:hidden;
    text-overflow:ellipsis;
    word-break: break-all;
}
.searchkeyhint{
    height: 100px;
    line-height: 100px;
    margin-left: 45px;
}
.hintkey{
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.no-result{
    width: 300px;
    border: 1px solid black;
    padding: 40px;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    color: rgb(250, 100, 0);
}
.action-rec{
    width: 300px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: rgb(250, 100, 0);
}