html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}
legend{color:#000}
#yui3-css-stamp.cssreset{display:none}
/*.qnc_calendar*/
.qunar-dp{position:relative;top:12px;left:110px;z-index:1;border:1px solid #bababa;width:180px;height:23px;font:normal 12px/1.5 tahoma,Geneva,sans-serif;background-color:#fff;color:#555;}
/*.qnc_calendar .c_input*/
.qunar-dp .textbox{padding:3px 0 4px;border:0;width:100%;height:14px;font-family:tahoma;font-size:14px;background-color:#fff;z-index:2}
/*.qnc_calendar .c_icon b  && URL */
.qunar-dp .dp-info b{float:right;display:inline;margin-left:5px;width:16px;height:18px;background:url(http://qunarzz.com/js/qdatepicker/build/images/qnc_calendar.gif) 0 3px no-repeat;}
/*.qnc_calendar .c_ext*/
.qunar-dp .dp-info{position:absolute;width:50%;top:2px;right:5px;z-index:1;padding:0 0 0 8px;height:19px;font-size:14px;line-height:19px;background-color:#fff;cursor:pointer;}
.qunar-dp .dp-text{float:right;}
.qunar-dp .q-datepicker{position:absolute;top:22px;left:-1px;border:1px solid #ddd;background-color:#fff;}
/*.qnc_calendar .c_pop*/
.qunar-dp .q-datepicker .g{position:absolute;top:1px;left:-1px;z-index:2;border:1px solid #bababa;width:348px;background-color:#fff;overflow:hidden;}
.qunar-dp .q-datepicker .g:after{clear:both;display:block;height:0;visibility:hidden;content:"\20";}
/*.qnc_calendar .c_dpart*/
.qunar-dp .q-datepicker .c{position:relative;z-index:1;float:left;display:inline;margin-left:-1px;border-left:1px solid #ccc;width:50%;height:158px}
/*.qnc_calendar .c_dpart h5 */
.qunar-dp .q-datepicker .h{padding:3px 0;height:18px;text-align:center;background-color:#b1e9ff;}
/*.qnc_calendar .c_prev */
.qunar-dp .q-datepicker .p{position:absolute;top:5px;left:5px;width:16px;height:16px;background:url(http://qunarzz.com/js/qdatepicker/build/images/qnc_calendar.gif)  3px -75px no-repeat;cursor:pointer;}
/*.qnc_calendar .c_next */
.qunar-dp .q-datepicker .n{position:absolute;top:5px;right:5px;width:16px;height:16px;background:url(http://qunarzz.com/js/qdatepicker/build/images/qnc_calendar.gif) 3px -100px no-repeat;cursor:pointer;}
/*.qnc_calendar .c_dpart table*/
.qunar-dp .q-datepicker table{border:1px solid #fff;border-collapse:collapse;width:100%;}
/*.qnc_calendar .c_dpart th*/
.qunar-dp .q-datepicker th{border-bottom:1px solid #ccc;width:14.286%;height:22px;text-align:center;}
/*.qnc_calendar .c_dpart td*/
.qunar-dp .q-datepicker td{height:18px;text-align:center;cursor:pointer;}
/*.qnc_calendar .c_cr for w0 and w6*/ 
.qunar-dp .q-datepicker .w0{color:#c60b02;}
.qunar-dp .q-datepicker .w6{color:#c60b02;}
.qunar-dp .q-datepicker .st-t{color:#00F;}
.qunar-dp .q-datepicker .st-a{background-color:#fdab00;color:#fff;}
.qunar-dp .q-datepicker .st-s{background-color:transparent;cursor:default;}
.qunar-dp .q-datepicker .st-s:hover,.qunar-dp .q-datepicker .st-s-hover{background-color:#fff;cursor:default;}
.qunar-dp .q-datepicker .st-h{background-color:#fdab00;color:#fff;}
.qunar-dp .q-datepicker .st-d{color:#999;cursor:not-allowed;}
/*add*/
.qunar-dp .q-datepicker .st-d:hover,.qunar-dp .q-datepicker .st-d-hover{background-color:transparent;color:#999;cursor:not-allowed;}
/*add back day*/
.qunar-dp .q-datepicker .st-a-r{background-color:#6899ff;color:#fff;}
.qunar-dp .q-datepicker .holi{color:#c60b02;}
.qunar-dp .qunar-dp-toD td:hover,.qunar-dp .qunar-dp-toD td-hover{background-color:#6899ff;color:#fff;cursor:pointer;}
.qunar-dp .qunar-dp-toD td.st-a-r{background-color:#6899ff;color:#fff;}
.qunar-dp .errtext{color:red;}
/* ==========================================================================
   $BASE-PICKER
   ========================================================================== */
/**
 * Note: the root picker element should __NOT__ be styled
 * more than what’s here. Style the `.picker__holder` instead.
 */
.picker {
  font-size: 16px;
  text-align: left;
  line-height: 1.2;
  color: #000000;
  position: absolute;
  z-index: 10000;
}
/**
 * The picker input element.
 */
.picker__input {
  cursor: default;
}
/**
 * When the picker is opened, the input element is “activated”.
 */
.picker__input.picker__input--active {
  border-color: #0089ec;
}
/**
 * The holder is the only “scrollable” top-level container element.
 */
.picker__holder {
  width: 100px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/*!
 * Classic picker styling for pickadate.js
 * Demo: http://amsul.github.io/pickadate.js
 */
/**
 * Note: the root picker element should __NOT__ be styled
 * more than what’s here. Style the `.picker__holder` instead.
 */
.picker {
  width: 100%;
}
/**
 * The holder is the base of the picker.
 */
.picker__holder {
  position: absolute;
  background: #ffffff;
  border: 1px solid #aaaaaa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  max-height: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: translateY(-1em) perspective(600px) rotateX(10deg);
  -moz-transform: translateY(-1em) perspective(600px) rotateX(10deg);
  transform: translateY(-1em) perspective(600px) rotateX(10deg);
  -webkit-transition: all 0.15s ease-out, max-height 0 0.15s;
  -moz-transition: all 0.15s ease-out, max-height 0 0.15s;
  transition: all 0.15s ease-out, max-height 0 0.15s;
}
/**
 * When the picker opens...
 */
.picker--opened .picker__holder {
  max-height: 25em;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  -moz-transform: translateY(0) perspective(600px) rotateX(0);
  transform: translateY(0) perspective(600px) rotateX(0);
  -webkit-transition: all 0.15s ease-out, max-height 0;
  -moz-transition: all 0.15s ease-out, max-height 0;
  transition: all 0.15s ease-out, max-height 0;
  -webkit-box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12);
}

/* ==========================================================================
   $BASE-TIME-PICKER
   ========================================================================== */
/**
 * The list of times.
 */
.picker__list {
  list-style: none;
  margin: 0;
}
/**
 * The times on the clock.
 */
.picker__list-item {
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  margin-bottom: -1px;
  position: relative;
  background: #ffffff;
  padding: .75em 1.25em;
}
@media (min-height: 46.75em) {
  .picker__list-item {
    padding: .5em 1em;
  }
}
/* Hovered time */
.picker__list-item:hover {
  cursor: pointer;
  color: #000000;
  background: #b1dcfb;
  border-color: #0089ec;
  z-index: 10;
}
/* Selected time */
.picker__list-item--selected,
.picker__list-item--selected:hover {
  border-color: #0089ec;
  z-index: 10;
}
/* Highlighted time */
.picker__list-item--highlighted {
  background: #b1dcfb;
}
/* Highlighted and hovered/focused time */
.picker__list-item--highlighted:hover,
.picker--focused .picker__list-item--highlighted {
  background: #0089ec;
  color: #ffffff;
}
/* Disabled time */
.picker__list-item--disabled,
.picker__list-item--disabled:hover,
.picker--focused .picker__list-item--disabled {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #dddddd;
  cursor: default;
  border-color: #dddddd;
  z-index: auto;
}
/**
 * The clear button
 */
.picker--time .picker__button--clear {
  display: block;
  width: 80%;
  margin: 1em auto 0;
  padding: 1em 1.25em;
  background: none;
  border: 0;
  font-weight: 500;
  font-size: .67em;
  text-align: center;
  text-transform: uppercase;
  color: #666;
}
.picker--time .picker__button--clear:hover,
.picker--time .picker__button--clear:focus {
  color: #000000;
  background: #b1dcfb;
  background: #ee2200;
  border-color: #ee2200;
  cursor: pointer;
  color: #ffffff;
  outline: none;
}
.picker--time .picker__button--clear:before {
  top: -0.25em;
  color: #666;
  font-size: 1.25em;
  font-weight: bold;
}
.picker--time .picker__button--clear:hover:before,
.picker--time .picker__button--clear:focus:before {
  color: #ffffff;
}

/* ==========================================================================
   $CLASSIC-TIME-PICKER
   ========================================================================== */
/**
 * Note: the root picker element should __NOT__ be styled
 * more than what’s here. Style the `.picker__holder` instead.
 */
.picker--time {
  min-width: 256px;
  max-width: 320px;
}
/**
 * The holder is the base of the picker.
 */
.picker--time .picker__holder {
  background: #f2f2f2;
}
@media (min-height: 40.125em) {
  .picker--time .picker__holder {
    font-size: .875em;
  }
}
/**
 * The box contains the list of times.
 */
.picker--time .picker__box {
  padding: 0;
}

/* CSS Document */
.crop_preview {
    border: 1px solid black;
    width: 200px;
    height: 300px;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 60px;
    margin-top: 20px;
    display: inline-block;
    *display: inline;
   *zoom: 1;
    zoom:1;
    vertical-align: top;
}
.crop_image {
    width: 620px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
   *zoom: 1;
    zoom:1;
    vertical-align: top;
    margin-top: 100px;
}
/* Fixes issue here http://code.google.com/p/jcrop/issues/detail?id=1 */
.jcrop-holder{text-align:left;}
.jcrop-vline, .jcrop-hline{font-size:0;	position:absolute; background:white url('Jcrop.gif') top left repeat;}
.jcrop-vline{height:100%; width:1px !important;}
.jcrop-hline{width:100%; height:1px !important;}
.jcrop-handle{font-size:1px; width:7px !important; height:7px !important;	border:1px #eee solid; background-color:#333; *width:9px; *height:9px;}
.jcrop-tracker{width:100%; height:100%;}
.custom .jcrop-vline,.custom .jcrop-hline{background:yellow;}
.custom .jcrop-handle{border-color:black; background-color:#C7BB00; -moz-border-radius:3px; -webkit-border-radius:3px;}
.dlglogin{
    height: 270px;
    letter-spacing: -4px;
    width: 555px;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -272px;
    margin-top: -170px;
    z-index: 99;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.dlglogin-close:hover {
    color: red;
    font-size: 9px;
}
.dlglogin-close{
    position: absolute;
    top: 10px;
    right: 12px;
    padding: 0 3px;
    z-index: 1;
    color: white;
    font: 11px/1.2 "Comic Sans MS",sans-serif;
    text-decoration: none;
}
.dlglogin-form{
    width: 285px;
    height: 230px;
    padding: 40px 37px 0 40px;
    letter-spacing: 0;
    float: left;
}
.dlglogin-aside{
    height: 270px;
    vertical-align: top;
    background-color: rgb(90, 90, 90);
    letter-spacing: 0;
    position: relative;
    color: rgb(170, 170, 170);
    overflow: hidden;
    _zoom: 1;
}
#legend{
    font-size: 18px;
    color: rgb(51, 51, 51);
    padding: 0;
}
.dlglogin-form .item{
    color: rgb(51, 51, 51);
    position: relative;
    background-color: rgb(238, 241, 240);
    margin-top: 12px;
    padding: 8px 10px;
    margin-bottom: .5ex;
}
.item{
    overflow: hidden;
}
#alias label {
    margin-right: 0px;
}
.dlglogin-form .item label {
    float: none;
}
.dlglogin-form .spec label {
    margin-right: 25px;
}
.dlglogin-form label {
    float: left;
    width: 4em;
}
#alias .text {
    width: 183px;
}
.dlglogin-form .item .text {
    border: 0 none;
    color: rgb(51, 51, 51);
    background-color: rgb(238, 241, 240);
    width: 180px;
    position: absolute;
    left: 90px;
    top: 10px;
}
.dlglogin-form .item input {
    margin: 0;
    outline: none;
}
.dlglogin-form .recsubmit {
    padding-top: 30px;
    position: relative;
    background: white;
}
.dlglogin-form .recsubmit #btn-submit {
    display: block;
    background-color: rgb(157, 214, 197);
    width: 110px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 0 none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    float: right;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}
.dlg-notify{
    position: absolute;
    top: 20px;
    left: 17px;
    width: 170px;
    font-weight: bold;
}
.dlg-notify ul{
    margin-top: 10px;
}
.dlg-notify ul li{
    margin-bottom: 10px;
    font-size: 13px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}


body{
    background: white;
}
.site-nav {
    height: 29px;
    width: 1600px;
    margin: 0 auto;
    min-width: 1000px;
    background: rgb(43,38,38);
}
.no-users{
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}
.site-nav__body {
    width:980px;
    margin:0 auto;
}
.nav-logo {
    padding:6px;
    padding-bottom:5px;
    float:left;
}
.nav-title {
    font-size:12px;
    float:left;
    color:white;
    line-height:29px;
}
.site-nav__body a {
    text-decoration:none;
    color:white;
}
.user-info {
    float:right;
    line-height:29px;
    font-size:12px;
}
.user-info a {
    margin-left:10px;
}
.line {
    border-left:1px solid white;
    padding-left:12px;
}
.top-header {
    background: url(http://sources.corp.qunar.com/QNR-play/resources/mainbghead.png) no-repeat;
    height: 105px;
    width: 1600px;
    margin: 0 auto;
    position: relative;
}
.hsearch {
    width:586px;
    height:30px;
    margin:0 auto;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-288px;
    margin-top:-10px;
}
.tsearch-fields {
    width:497px;
    height:28px;
    margin-right: 10px;
    float:left;
    position:relative;
    vertical-align:middle;
}
.tsearch-fields input {
    font-size:14px;
    font-family:verdana,tahoma,sans-serif;
    width:494px;
    height:20px;
    line-height:18px;
    padding:5px;
    border:0 none;
    background-color:#fff;
    vertical-align:middle;
    position:absolute;
    left:3px;
    top:2px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.tsearch-submit {
    position:relative;
    top: 2px;
    width:78px;
    height:30px;
    line-height: 30px;
    font-size:18px;
    background-color:rgb(235,97,77);
    color:#fff;
    border:0 none #D25102;
    float:left;
    cursor:pointer;
    -moz-border-radius:0 3px 3px 0;
    -webkit-border-radius:0 3px 3px 0;
    -khtml-border-radius:0 3px 3px 0;
    border-radius:0 3px 3px 0;
}
.site-bar{
    height: 5px;
    background: rgb(238,238,238);
    width: 1600px;
    margin: 0 auto;
}
.bd{
    overflow:hidden;
    _overflow:visible;
    zoom:1;
}
.hidden{
    display: none;
}
.display{
    display: block;
}
.site-content{
    width: 980px;
    padding: 0 12px;
    margin: 0 auto;
    background: white;
    margin-bottom: 61px;
}
.site-main{
    width: 650px;
    color: rgb(153,153,153);
}

.site-aside{
    float:right;
    width:285px;
    margin-left:20px;
    _margin-left:20px;
}
.footer{
    width: 1000px;
    border-top: 1px solid rgb(221,221,221);
    height: 96px;
    margin: 0 auto;
}
.footer__des{
    font-size: 12px;
    color: rgb(136,136,136);
    text-align: center;
    margin-top: 20px;
}
.site-wrap{
    width: 1600px;
    margin: 0 auto;
    background: rgb(249,249,249);
}
.clearfix{
    overflow: hidden;
    zoom:1;
}
.page-list {
    text-align:center;
    float:right;
}
.page-list ul {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin:0;
    padding:0;
    list-style:none;
}
.page-list li {
    display:inline;
    float:left;
    margin:0 3px;
    padding:8px 2px;
    border:1px solid rgb(221,221,221);
    background-color:#fff;
}
.page-list li a {
    color:#333;
    padding:10px 15px;
    text-decoration:none;
}
.page-list .page-on {
    padding: 8px 16px;
    background: #F5F4F0;
    color: #000;
}
.page-list .dot {
    border:0px;
    padding:4px 2px;
}
.page-list .dot:hover {
    border:0px;
    padding:4px 2px;
    background: transparent;
}
.page-list li:hover {
    background: #F5F4F0;
}
@media screen and (max-width:1380px) {
  .site-nav,.site-bar {
    width:100%;
  }
  .site-wrap{
    width: 100%;
    background: rgb(249,249,249);
  }
  .top-header{
    width: 100%;
  }
  .hsearch{
    left: 58%;
  }
}
.clear{
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
}
.overlay{
      filter:alpha(Opacity=50);
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
      -moz-opacity:0.5;
      -khtml-opacity:0.5;
      height:140%;
      width:100%;
      _width:100%;
      _height:140%;
      position:absolute;
      left:0;
      top:0;
      right:0;
      bottom:0;
      background:rgb(238, 241, 240);
      opacity:0.618;
      display:none;
      z-index: 99;
}


 
  
  
  
  
  
   
textarea {
  resize:none;
}

.warntext {
  color:red;
  font-weight:bold
}
.textwarn {
  color:red;
  font-weight:bold
}
.pricewarn {
  padding-left:240px !important;
}
.fl-pr10 {
  float:left;
  padding-right:10px;
}
.datespan {
  position:absolute !important;
}
.actiondate {
  padding-right:130px;
  _margin-top:-10px;
}
/*主体部分*/
.site-main {
  width:1600px;
  margin:0 auto;
  background-color:#f9f9f9;
  border-top:5px solid #f3f2f2;
}
.main-create {
  width:955px;
  margin:0 auto;
  padding:23px 14px 40px 11px;
  background-color:white;
}
.create__head {
  font-size:16px;
  font-weight:800;
  height:32px;
  line-height:32px;
}
/*步骤栏*/
.create__state {
  width:955px;
  margin-top:13px;
}
.state__step:after {
  display:block;
  clear:both;
  content:".";
  height:0;
  visibility:hidden;
}
.state__step {
  *zoom:1;
}
.createstate__done {
  height:30px;
  line-height:30px;
  width:318px;
  background-color:#c9f3f5;
  color:#5abec6;
  text-align:center;
  font-weight:800;
  float:left;
}
.createstate__done b {
  border:0;
  width:0;
  float:left;
}
.createstate__doing {
  height:30px;
  line-height:30px;
  width:308px;
  padding-left:10px;
  background-color:#5abec6;
  color:#ffffff;
  font-weight:800;
  text-align:center;
  float:left;
}
.createstate__doing-nob {
  height:30px;
  line-height:30px;
  width:308px;
  padding-left:10px;
  background-color:#5abec6;
  color:#ffffff;
  font-weight:800;
  text-align:center;
  float:left;
}
.createstate__doing b {
  border-style:solid;
  margin-left:-10px;
  float:left;
  width:0;
  border-width:15px 0px 15px 10px;
  border-color:#5abec6 #5abec6 #5abec6 #c9f3f5;
  height:0;
  line-height:0;
}
.createstate__undo {
  height:30px;
  line-height:30px;
  width:308px;
  padding-left:10px;
  background-color:#fcfbfb;
  color:#666666;
  font-weight:800;
  text-align:center;
  float:left;
}
.createstate__undo-nob {
  height:30px;
  line-height:30px;
  width:308px;
  padding-left:10px;
  background-color:#fcfbfb;
  color:#666666;
  font-weight:800;
  text-align:center;
  float:left;
}
.picker__input {
  width:80px;
  height:22px;
}
.timewarn {
  color:red;
}
.datewarn {
  color:red;
}
.controlnum {
  margin-left:700px;
  font-size:20px;
}
.fail {
  position:absolute;
  width:220px;
  height:70px;
  background:red;
  top:50%;
  color:white;
  font-size:1.3em;
  line-height:70px;
  text-align:center;
  left:50%;
  opacity:1.2;
  margin-left:-110px;
}
.success {
  position:absolute;
  width:220px;
  height:70px;
  background:rgb(18,184,65);
  top:50%;
  color:white;
  font-size:1.3em;
  line-height:70px;
  text-align:center;
  left:50%;
  opacity:1.2;
  margin-left:-110px;
}
.forbidden {
  color:red;
  padding-left:20px;
}
.createstate__undo b {
  border-style:solid;
  margin-left:-10px;
  float:left;
  width:0;
  border-width:15px 0px 15px 10px;
  border-color:#fcfbfb #fcfbfb #fcfbfb #5abec6;
  height:0;
  line-height:0;
}
.createstate__step {
  width:317px;
  float:left;
  height:31px;
  line-height:31px;
  text-align:center;
}
/*填写活动信息区域*/
.titletext {
  height:28px;
  width:400px;
  border:1px solid #cccccc;
}
.addresstext {
  height:28px;
  width:400px;
  border:1px solid #cccccc;
}
.create__activity {
  background-color:#f4fbfc;
  padding-bottom:30px;
}
.activity {
  padding-left:20px;
  padding-top:10px;
}
.activity li {
  height:50px;
  line-height:50px;
  clear:left;
  *zoom:1;
}
.activity li:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.activity__classification {
  float:left;
  margin-top:10px;
  margin-right:28px;
  position:relative;
}
.select-option {
  display:none;
  position:absolute;
  text-decoration:none;
  background-color:#ffffff;
  border:1px solid #dedede;
  padding-left:5px;
  width:180px;
  overflow-y:scroll;
  width:179px;
  z-index:9999;
}
.select-option li:hover {
  cursor:pointer;
  color:#000000;
  background:#b1dcfb;
  border-color:#0089ec;
  z-index:10;
}
.select-option li {
  height:20px !important;
  line-height:20px !important;
  border-bottom:1px solid #dddddd;
  border-top:1px solid #dddddd;
  margin-bottom:-1px;
  position:relative;
  background:#ffffff;
  padding:.75em 1.25em;
}
.activity__title {
  float:left;
}
.activity__time {
  float:left;
  margin-top:10px;
}
.fee__option {
  position:relative;
  width:500px;
}
.avgFee {
  width:200px;
  position:absolute;
  top:0px;
  left:160px;
  background:rgb(143,228,228);
  color:white;
  text-align:center;
  font-weight:bold;
  line-height: 50px;
}
.activity__fee {
  float:left;
}
.activity__position {
  float:left;
}
.activity__detail {
  float:left;
}
.select_box {
  cursor:pointer;
  width:185px;
  border:1px solid #cccccc;
  height:26px;
  line-height:26px;
  padding-bottom:2px;
  background-color:#ffffff;
}
.selectbox_arrow {
  margin-top:1px;
  height:28px;
  width:30px;
  float:right;
  border-left:1px dotted #cccccc;
}
.selectbox_input {
  padding-left:10px;
}
.selectbox_arrow b {
  border-width:8px;
  border-style:solid;
  border-color:#cccccc #ffffff #ffffff #ffffff;
  width:0;
  height:0;
  font-size:0;
  line-height:0;
  display:block;
  margin:10px 0 0 6px;
}
.timeselect_box {
  cursor:pointer;
  width:125px;
  border:1px solid #cccccc;
  height:26px;
  line-height:26px;
  padding-bottom:2px;
  background-color:#ffffff;
}
.input__feename {
  height:28px;
  border:1px solid #cccccc;
  width:185px;
  margin-left:10px;
}
.input__fee {
  height:28px;
  border:1px solid #cccccc;
  width:73px;
}
.activitylastli {
  height:110px !important;
  line-height:20px !important;
}
.activity__detail textarea {
  width:800px;
  height:108px;
  border:1px solid #cccccc;
  overflow-y:auto;
}
/*下一步 取消 发布*/
.create__op-in {
  width:450px;
  margin:20px auto;
  margin-top:20px;
  margin-bottom:20px;
  *zoom:1;
}
.create__op-in:after {
  display:block;
  content:".";
  clear:both;
  height:0;
  visibility:hidden;
}
.activity__next {
  width:150px;
  height:35px;
  line-height:35px;
  background-color:#ff8200;
  float:left;
  border-radius:3px;
  color:#ffffff;
  font-weight:800;
  cursor:pointer;
  margin-left: 100px;
}
.activity__back{
  width: 150px;
  height: 35px;
  line-height: 35px;
  background-color: #ff8200;
  float: left;
  border-radius: 3px;
  color: #ffffff;
  font-weight: 800;
  cursor: pointer;
  margin-left: 40px;
}
.activity__pub {
  width:150px;
  height:35px;
  line-height:35px;
  background-color:#ff8200;
  float:left;
  border-radius:3px;
  color:#ffffff;
  font-weight:800;
  cursor:pointer;
}
.activity__cancle {
  width:70px;
  height:35px;
  line-height:35px;
  background-color:#cbcbcb;
  float:left;
  margin-left:20px;
  border-radius:2px;
  color:#ffffff;
  font-weight:800;
  cursor:pointer;
}
.create__op {
  text-align:center;
  background-color:#f4fbfc;
  border-top:1px dotted #c8c8c8;
}
.create__op:after {
  content:".";
  clear:both;
  height:0;
  display:block;
  visibility:hidden;
}
.create__op {
  *zoom:1;
}
.activity__release {
  width:180px;
  height:35px;
  line-height:35px;
  background-color:#ff8200;
  float:left;
  border-radius:3px;
  color:#ffffff;
  font-weight:800;
  cursor:pointer;
}
.activity__goon {
  float:left;
  height:35px;
  line-height:35px;
  padding-left:25px;
}
.activity__goon a {
  text-decoration:none;
  font-size:14px;
}
/*上传活动海报的CSS*/
.activity__upphoto:after {
  display:block;
  content:".";
  clear:both;
  height:0;
  visibility:hidden;
}
.activity__upphoto {
  *zoom:1;
}
.photo-position {
  float:left;
  width:200px;
  height:300px;
  border:1px solid #c8c8c8;
  margin:30px 20px 30px 30px;
  overflow:hidden;
}
.photo-introduction {
  float:left;
  margin-top:45px;
  color:#999999;
}
.photo-introduction b {
  font-size:20px;
  padding:10px 0;
}
.photo-introduction p {
  padding:8px 0;
}
.photo__up {
  width:108px;
  height:30px;
  border:1px solid #d3d9d9;
  margin:20px 0 20px 0;
  text-align:center;
  line-height:30px;
  color:#000000;
  background-color:#efefef;
  border-radius:2px;
  cursor:pointer;
}
/*提交活动页CSS*/
.introduction__title {
  height:45px;
  line-height:45px;
  color:#000000;
  font-size:20px;
  font-weight:800;
}
.introduction__content {
  height:30px;
  line-height:30px;
}
.introduction__detail {
  width:630px;
  height:120px;
}
/*活动提交成功页CSS*/
.activity-check {
  background:url("../images/createactivity-ok.png") no-repeat;
  height:65px;
  width:650px;
  margin:0 auto;
  padding:60px 0;
  background-position:left center;
}
.check-state {
  font-size:20px;
  font-weight:800;
  margin-left:80px;
  padding:10px 0;
}
.check-tips {
  font-size:14px;
  margin-left:80px;
}
.footer {
  background-color:#f9f9f9;
  width:1600px;
  height:160px;
  line-height:160px;
  text-align:center;
  margin:0 auto;
}
.endtime input{
  width: 80px;
  height: 22px;
}
.nicedate {
  width:200px;
  height:200px;
  position:absolute;
  top:70px;
  left:100px;
}
.activity__classification select {
  display:none;
}
.submit {
  width:160px;
  height:30px;
  line-height:30px;
  background:orange;
  text-align:center;
  margin-top:4px;
  margin-left:600px;
  width:160px;
  height:30px;
  line-height:30px;
  background:orange;
  text-align:center;
  margin-top:30px;
  cursor:pointer;
  display:inline-block;
  *display:inline;
  *zoom:1;
  zoom:1;
  vertical-align:top;
}
.piccancel {
  width:160px;
  height:30px;
  line-height:30px;
  background:orange;
  text-align:center;
  margin-top:4px;
  width:160px;
  height:30px;
  line-height:30px;
  background:orange;
  text-align:center;
  margin-top:30px;
  cursor:pointer;
  display:inline-block;
  *display:inline;
  *zoom:1;
  zoom:1;
  vertical-align:top;
}
.uploadpic {
  position:absolute;
  width:1000px;
  background:white;
  padding:40px;
  margin-top:-340px;
  top:50%;
  left:50%;
  margin-left:-500px;
  z-index:99999;
  overflow:hidden;
  display:none;
}
.posterdesc {
  position:absolute;
  left:300px;
  width:240px;
  top:80px;
}
.actionposter {
  width:200px;
  height:30px;
  top:380px;
  position:relative;
  left:30px;
}
.picker__list li {
  height:20px !important;
  line-height:20px !important;
}

.radio{
    display: block;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(http://sources.corp.qunar.com/QNR-play/resources/green.png) no-repeat;
    border: none;
    cursor: pointer;
    background-position: -120px 0;
    position: relative;
    top: 13px;
    left: 0;
    float: left;
}
label{
  float: left;
  margin-left: 10px;
  margin-right: 20px;
}
.chover{
    background-position: -24px 0;
}
.cchecked{
    background-position: -48px 0;
}
.rhover{
    background-position: -144px 0;
}
.rchecked{
    background-position: -168px 0;
}
.radio input{
    position: absolute;
    top: -20%;
    left: -20%;
    display: block;
    width: 140%;
    height: 140%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    border: 0px;
    opacity: 0;
    filter:alpha(Opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity:0;
    -khtml-opacity:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
    line-height: normal;
    vertical-align: baseline;
}
::-webkit-scrollbar {
  width:6px;
  height:8px;
}
::-webkit-scrollbar-track-piece {
  background-color:transparent;
}
::-webkit-scrollbar-thumb {
  background-color:#000;
  -webkit-border-radius:4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color:#111;
}